<cart_order>
<div class = "container" style = "padding:30px;">
     <div class="panel panel-default">
          <div class="panel-heading">
              <div class = "row" style = "padding: 0 20px 0 20px">
                Оформление заказа
                </div>
            </div>
              <div class="panel-body">
                    <%= render 'form' %>
              </div>
        </div>
    </div>
</cart_order>