<benefits>
    <div class = "container">
        <div class = "row benefits-container">
            <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <table>
                    <tr>
                        <td>
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-l"></i>
                                <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                            </span>
                        </td>
                        <td class = "text-g16">Работаем без выходных!</td>
                    </tr>
                </table>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <table>
                    <tr>
                        <td>
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-l"></i>
                                <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                            </span>
                        </td>
                        <td class = "text-g16">60 дней на обмен или возврат!</td>
                    </tr>
                </table>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <table>
                    <tr>
                        <td>
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-l"></i>
                                <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                            </span>
                        </td>
                        <td class = "text-g16">Бесплатная доставка по Братску!</td>
                    </tr>
                </table>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <table>
                    <tr>
                        <td>
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-l"></i>
                                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                            </span>
                        </td>
                        <td class = "text-g16">Оплата при получении!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</benefits>