    <footer>
        <div class = "container-fluid footer-container">
            <div class = "container">
                <div class = "row">
                    <div class = "col-lg-4 col-md-4 col-sm-4 center-content">
                        <p class = "text-w16">ИНФОРМАЦИЯ</p>
                        <br>
                        <a href="#"><p class = "text-w16">Контакты</p></a>
                        <a href="#"><p class = "text-w16">Доставка и Оплата</p></a>
                        <a href="#"><p class = "text-w16">Возврат и Гарантия</p></a>
                        <a href="#"><p class = "text-w16">Сотрудничество</p></a>
                        <a href="#"><p class = "text-w16">О компании</p></a>
                        <br>
                    </div>
                    <div class = "col-lg-4 col-md-4 col-sm-4 center-content">
                        <p class = "text-w16">ПОКУПАТЕЛЯМ</p>
                        <br>
                        <a href="#"><p class = "text-w16">Каталог</p></a>
                        <a href="#"><p class = "text-w16">Как выбрать кресло</p></a>
                        <a href="#"><p class = "text-w16">Качество</p></a>
                        <a href="#"><p class = "text-w16">Скидки</p></a>
                        <br>
                    </div>
                    <div class = "col-lg-2 col-md-2 col-sm-3 col-xs-4 offset-lg-1 offset-md-1">
                        <p class = "text-w16">СЛЕДИ ЗА НАМИ</p>
                        <div class = "row">
                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 center-content">
                                <a href = "#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square fa-inverse fa-stack-2x"></i>
                                        <i class="fa fa-vk fa-stack-1x tetx-g"></i>
                                    </span>
                                </a>
                            </div>
                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 center-content">
                                <a href = "#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square fa-inverse fa-stack-2x"></i>
                                        <i class="fa fa-instagram fa-stack-1x tetx-g"></i>
                                    </span>
                                </a>
                            </div>
                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 center-content">
                                <a href = "#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square fa-inverse fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x tetx-g"></i>
                                    </span>
                                </a>
                            </div>
                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 center-content">
                                <a href = "#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square fa-inverse fa-stack-2x"></i>
                                        <i class="fa fa-odnoklassniki fa-stack-1x tetx-g"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <p class = "text-w16">СПОСОБЫ ОПЛАТЫ</p>
                        <p class = "text-w16">Visa/MasterCard</p>
                        <img src="/assets/sberbank_small.png" class = "sberbank responsive-image">
                    </div>
                </div>
                <p class = "text-w16">© 2003–2017 tamm'antimebel®</p>
            </div>
        </div>
    </footer>